html {
    height: 100%;
}

.container {

}

#title {
    width: 100%;
    height: 39px;
    overflow: visible;
    margin-bottom: 4px;
}

#title .btn {
    margin: 0px;
    margin-top: 5px;
}

#title .navbar-inner {
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

#graphTitle:focus {
    border: 1px solid rgb(119, 180, 228);
}

/*TABS*/
.tabs-below > .nav-tabs {
    border-top: none;
}

.tab-pane {

}

.removeColumn {
    display: block;
    line-height: 16px;
}

.filterDroppableContainer .aggregationControls,
.filterDroppableContainer .typeControls {
    display: none;
}

.attributes .btn.disabled,
.axisDroppableContainer .btn.disabled,
.filterDroppableContainer .btn.disabled {
    width: 80%;
    margin: 3px;
    opacity: 1;
}

.axis.hoverDroppable{
    border: 1px dashed lightgray;
    background: #fafafa;
}

.removeColumn {
    float: left;
}

.popoverToggle {
    float: right;
    padding: 2px 4px;
}
#oAxis .popoverToggle {
    float: left;
}
.popoverContent {
    display: none;
}

.popover .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.popover button {
    min-width: 100px;
}

.popover button span {
    float: right;
}

.popover.right .arrow {
    left: -5px;
}
.popover.left .arrow {
    right: -5px;
}

.rangeControls {
    margin-bottom: 30px;
}

.popover {
    top: 50px;
    left: 76px;
    display: block;
    border-radius: 0;
    background: #2A5E8C;
    border: 1px solid #2A5E8C;
    box-shadow: none;
    margin-top: 60px;
}

.popover .arrow {
    display: none;
}

.popover .popover-title {
    display: block;
    background: white;
    color: #333;
    padding: 10px 16px;
    font-weight: 100;
    border-radius: 0;
    font-size: 24px;
    text-align: left;
}

.popover .popover-content {
    background: white;
    padding-bottom: 40px;
}

.popover .popover-content .form-control {
    width: 200px;
    margin-bottom: 5px;
    border-radius: 0;
}

.popover .popover-content .btn {
    background: #2A5E8C;
    border-radius: 0;
    color: white;
    font-weight: 100;
}

.popover .popover-content .btn-plain {
    background: transparent;
    color: #2A5E8C;
}

/*PLUGINS*/
.bootstrap-select {
    text-align: left;
}

.selectpicker {
    display: none;
}