.float-left{
	float: left;	
	margin: 0 0 0 10px;
}

#header, #intro, #second{
	width: 100%;
}

#intro{
	background:url(skyline_white.png) 70% 0 no-repeat fixed #010626;
	color: white;
	height: 350px;
	margin: 0 auto;
	padding: 0;
}

#second{
	box-shadow: 0px -5px 40px 25px #f2f2f2;
	background: #f2f2f2;
	color: white;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

#second > div.container {
	background: white;
	box-shadow: 0px 0 15px -5px;
	color: black;
	padding: 20px 20px 100px;
}

#second > div.container .navbar-wrapper {
	position: relative;
}

#second > div.container > div.container-fluid {
	margin-top: 50px;
}

.story{
	margin: 0 auto;
	overflow: auto;
}

.story .float-left {
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}
