.build/*
build/*
test/dump
test/log/*
test/persistency/*
docs/doxygen
docs/_html
doc_env/

*.DS_Store
*.log
*.pyc

settings.mk
mysql.mk
hyrise_server.pid
hyrise_server.port
TAGS

coverage.xml
sloccount.sc

benchmark_data
persistency/
test/tpcc/tables/
*.swp
tools/clang34*

*.gch
*.o
