[submodule "third_party/ebb"]
	path = third_party/ebb
	url = https://github.com/hyrise/libebb
[submodule "third_party/ftprinter"]
	path = third_party/ftprinter
	url = git://github.com/hyrise/ftprinter.git
[submodule "third_party/backward"]
	path = third_party/backward
	url = https://github.com/bombela/backward-cpp.git
[submodule "third_party/cereal"]
	path = third_party/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "third_party/optional"]
	path = third_party/optional
	url = https://github.com/bastih/optional.git
[submodule "third_party/muparserx"]
	path = third_party/muparserx
	url = https://github.com/bastih/muparserx-mirror.git
