
settings.mk
GnuplotLocation.txt

doc/*
*.orig
*~
*.d
*.s
*#*#
*.pyc
*.o
*.dylib
*.so
*.build
*.gcno
*.gcda
*.swp
.tags
.tags_sorted_by_file
.vagrant

results

Session.vim
.emacs-project
*.DS_Store

tools/hycal/hycal.dSYM/Contents/Resources/DWARF/hycal
tools/hycal/hycal
tools/hycal/hyrise_calibrator_out.txt
tools/arcane

build/benchmark
build/hyrise_server
build/join
build/merge
build/realdatatest
build/tpcc_server
build/units*
build/perf_datagen
build/perf_regression
build/test_relation_eq
build/dummy

docs/doxygen

cppcheck.xml
*.log
*.bin
.cproject
.project
hyrise_server.pid
hyrise_server.port
TAGS

third_party/llvm*
src/lib/*.gch

test/advertising/data.txt
