body, html {
    /*font-family: Verdana, 'Lucida Sans Unicode', sans-serif;*/
    height: 100%;
    text-align: left;
}

h1 {
    text-align: center;
}
.onload h1 {
    /*  display: none;*/
}

li {
    line-height: 2;
}

img {
    margin: auto;
    vertical-align: middle;
} 

a.headerlink {
    visibility: hidden;
}

table.table {
    width: auto;
    border: 1px solid #dddddd;
}
table.table .td {
    border: 1px solid #dddddd;
}
table.highlighttable {
    border: none;
}
table.highlighttable tbody>tr>td {
    border: none;
    padding: 0;
}

h1:hover > a.headerlink,
h2:hover > a.headerlink,
h3:hover > a.headerlink,
h4:hover > a.headerlink,
h5:hover > a.headerlink,
h6:hover > a.headerlink,
dt:hover > a.headerlink {
    visibility: visible;
}

.wrapper {
    min-height: 100%;
}

.nav-pills > .active > a {
    background-color: #137592;
}

.row-fluid {
    margin-bottom:40px;
}

.row-fluid > p {
    padding-left: 12px;
}

.hyrisesidebar {
    padding: 25px 15px;
    padding-top: 0px;
}

.hyrisesidebar > a > img {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.hyrisesidebar > p {
    display: block;
    color: #6c6767;
    text-align: center;
    font-size: smaller;
    line-height: 130%;
}

.without {
    margin-bottom: 0px;
}

.fullwidth {
    background-color: #f2f7fa !important;
    margin: 70px 0px;
    border-top: 1px solid #d9dee1;
    border-bottom: 1px solid #d9dee1;
    margin-top: 0px;
}

.jumbotron {
  min-height: 400px;
  margin-bottom: 0;
  text-align: center;
  margin-top: 50px;
  background: #010626;
  color: #F2F2F2;
}
.jumbotron p {
    max-width: 700px;
    margin: 20px auto;
    font-size: 20px;
}

.overview {
    padding-top: 10px;
}
.overview > h4 {
    color: #006699;
    font-size: 14px;
}

.section {
    margin-bottom: 50px;
}
.index-container .section {
    overflow: hidden;
}

.feature {
    text-align: justify;
    padding: 10px;
}

.footer {
    clear: both;
    border-top: 1px solid silver;
    text-align: right;
    padding: 20px 0;
    font-weight: 200;
}

.hyrisesidebar > h4{
    line-height: 25px;
    color: #6c6767;   
}

.logo {
    text-align: center;
}

.image {
    position: relative;
}
.image img {
    width: 100%;
}

.people .row-fluid {
    overflow: hidden;
}

/* normalize bootstrap lists */
ul.notTop {
    padding-left: 0px;
}
ul ul.list {
    margin-bottom: -6px;
}
.list-group-item {
    border: none;
    margin-bottom: 0px;
}

.brand {
    margin: 0 20px;
}

.brand div {
    padding-top: 30px;
    line-height: 20px;
    background: url('skyline.png') no-repeat scroll 0 0 transparent;
    width: 130px;
    background-size: contain;
    text-align: center;
    color: black;
    margin-left: 15px;
}

div.admonition, div.warning {
    font-size: 0.9em;
    margin: 1em 0 1em 0;
    border: 1px solid silver;
    background-color: #f7f7f7;
    padding: 0;
}

div.admonition p, div.warning p {
    margin: 0.5em 1em 0.5em 1em;
    padding: 0;
}

div.admonition pre, div.warning pre {
    margin: 0.4em 1em 0.4em 1em;
}

div.admonition p.admonition-title,
div.warning p.admonition-title {
    display: block;
    background: rgba(60,60,60, 0.2);
    border: none;
    padding: 2px 5px;
    text-transform: capitalize;
    font-family: helvetica neue;
    font-weight: 200;
    box-shadow: 0 2px 5px -3px black;
    border-bottom: 1px solid gray;
}

div.warning {
    border: 1px solid #940000;
}

div.warning p.admonition-title {
    background-color: #CF0000;
    border-bottom-color: #940000;
}

div.admonition ul, div.admonition ol,
div.warning ul, div.warning ol {
    margin: 0.1em 0.5em 0.5em 3em;
    padding: 0;
}