h1 {
	background-image: url("/static/webq/img/hyrise.png");
	background-repeat: no-repeat;
	padding-left: 130px;
	padding-top: 30px;
	height: 100px;
}

#json_result {
	font-size: 0.8em;
}

#json_result .table th, #json_result .table td {
	padding: 3px;
	line-height: 18px;
}